In [1]:
import pandas as pd

In [3]:
Toronto_data = pd.read_csv("Toronto_Data.csv").set_index("Postcode")
Toronto_data.head()

                   Borough     Neighbourhood
Postcode
M1A           Not assigned      Not assigned
M2A           Not assigned      Not assigned
M3A             North York         Parkwoods
M4A             North York  Victoria Village
M5A       Downtown Toronto      Harbourfront

In [4]:
Geo_data = pd.read_csv("Geospatial_Coordinates.csv").set_index("Postal Code")
Geo_data.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [5]:
Combined_data = Toronto_data.join(Geo_data)
Combined_data

          Borough   Neighbourhood   Latitude  Longitude
M1A  Not assigned    Not assigned        NaN        NaN
M1B   Scarborough           Rouge  43.806686 -79.194353
M1B   Scarborough         Malvern  43.806686 -79.194353
M1C   Scarborough  Highland Creek  43.784535 -79.160497
M1C   Scarborough      Rouge Hill  43.784535 -79.160497
..            ...             ...        ...        ...
M9V     Etobicoke     Thistletown  43.739416 -79.588437
M9W     Etobicoke       Northwest  43.706748 -79.594054
M9X  Not assigned    Not assigned        NaN        NaN
M9Y  Not assigned    Not assigned        NaN        NaN
M9Z  Not assigned    Not assigned        NaN        NaN

[288 rows x 4 columns]